a:link {
	color: #333;
}
a:visited {
	color: #333;
}
a:hover {
	color: #666;
}
a:active {
	color: #333;
}
body {
	background-image: url(../img/Imagen1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}